body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

.layout{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-areas: 
	"header header header"
	"nav content content";
	grid-template-rows: 80px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap:10px;
	padding: 10px;
}


.content{
	grid-area: content;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}